<div>
   <h1><span>Gracz <strong>{{currentDisplayedPlayer}}</strong> dokonuje wyborów!</span>
      <button class="btn btn-primary"
         (click)="showNextPlayer()" (click)="resetBtn()" [disabled]="isShowNextPlayerButtonDisabled" >Kolejny gracz</button></h1>
         <p class="endList" *ngIf="showPlayerListEndMessage" >Koniec listy graczy</p>
   <br>

   <br>
   <br>
   <div class="separator">
      <br>
      <div class="bans">
         <h2><span>Wybierz 2 bany na drużyny:</span></h2>
         

         <div class="list-ban">
            <select class="inputban" [(ngModel)]="firstBanClub">
               <option value="">Wybierz drużynę</option>
               <option *ngFor="let club of clubsData" [value]="club.name">{{ club.name }}</option>
            </select>
            <button class="btn btn-primary"  (click)="removeClub(firstBanClub)" [disabled]="hideBtn || showPlayerListEndMessage" (click)="btnChange1()" >Ok</button>
         </div>

         <div class="list-ban" >
            <select class="inputban" [(ngModel)]="secondBanClub">
               <option value="">Wybierz drużynę</option>
               <option *ngFor="let club of clubsData" [value]="club.name">{{ club.name }}</option>
            </select>
            <button class="btn btn-primary"  (click)="removeClub(secondBanClub)" [disabled]="hideBtn2 || showPlayerListEndMessage" (click)="btnChange2()">Ok</button>
         </div>
      </div>
      <button type="button" class="btn btn-success next" routerLink='pick-select' [disabled]="hideBtnNext"> Dalej</button>
      




   </div>